// Button
.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        background-color: $color-white;
        padding: 1.5rem 2.5rem;
        color: $color-gray-dark;
        font-size: 1.2rem;
        letter-spacing: .2rem;
        font-weight: 600;
        display: inline-block;
        border: none;
        outline: none;
        cursor: pointer;
        background-image: linear-gradient(90deg, 
                $color-white 0%, 
                $color-white 50%, 
                $color-gray-dark-2 50%);
            background-size: 230%;
            transition: all .3s;
    }

    &:hover,
    &:active {
        background-position: 95%;
        color: $color-white;
    }
    

    animation: top-to-bottom 1s .8s;
    animation-fill-mode: backwards;
    
    &-submit {

        text-transform: uppercase;
        text-decoration: none;
        background-color: $color-white;
        padding: 1.5rem 2.5rem;
        color: $color-gray-dark;
        font-size: 1.2rem;
        letter-spacing: .2rem;
        font-weight: 600;
        display: inline-block;
        border: none;
        cursor: pointer;
        outline: 1px solid $color-gray-dark-2;
        box-shadow: 0 .2rem .2rem rgba($color-black, 0.5);
        outline: none;
        grid-column: span 2;
        margin: 0 auto;
        transition: all .3s;

        &:active {
            transform: translateY(-1rem);
        }
    }
}

// End
